.killedShipsContainer {
    background-color: transparent;
    width: 210px;
}

.isMarginLeft {
    margin-left: 12px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}