.cell {
    display: flex;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /*border-left: none;*/
    z-index: 1;
}

/*.cell:first-child {*/
/*    border-left: 1px solid gray;*/
/*}*/

.emptyCell {}

.emptyCell:hover {
    cursor: pointer;
    border: 1px solid blue;
    box-shadow: 0px 0px 3px 3px blue;
    z-index: 5;
}

.missCell {
    background-color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipCell {
    background-color: deepskyblue;
    border: 1px solid #00a6dc;
}

.killCell {
    border: 1px solid red;
    outline: 1px solid red;
    background-color: deepskyblue;
    z-index: 1;
}

.killCell > svg{
    width: 100%;
    height: 100%;
}

.headerCell {
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 900;
    font-style: italic;
}

.point {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: gray;
}
