.cell {
    display: flex;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
}

.hoveredManualCell {
    box-shadow: 0 0 8px 2px #8a8a8a;
    background-color: deepskyblue;
}

.shipCell {
    background-color: deepskyblue;
    border: 1px solid #00a6dc;
}

.blockedCell {
    background-color: #c9c9c9;
}