.findGameModalContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    animation: openModalResultContainer 1s;
}

.findGameModalBody {
    max-width: 800px;
    max-height: 500px;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 2px grey;
    border-radius: 8px;
    position: fixed;
    background-color: #4c4c4c;
    padding: 8px;
    animation: openModalResult 0.5s;
}

.loading {
    width: 100%;
}

.loadingMessage {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.findGameTimer :global(.ant-statistic-content-value) {
    color: white;
}

.playToBotBtn {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes openFindGameContainer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes openFindGameModal {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}