.manualModal :global(.ant-modal-footer) {
    display: none;
}
.manualModal :global(.ant-modal) {
    margin-top: 8px;
}

.manualModal :global(.ant-modal-header) {
    display: none;
}

.manualModal :global(.ant-modal-content) {
    background: rgb(115, 115, 115);
    background: linear-gradient(90deg, rgba(126,126,126,1) 0%, rgba(170,170,170,1) 50%, rgba(126,126,126,1) 100%);
    padding: 4px;
}

.manualModal :global(.ant-modal-body) {
    background-color: transparent;
}

.manualModal :global(.ant-modal-close) {
    top: 8px;
    left: 8px;
    background-color: #434343;
}

.manualModal :global(.ant-modal-close-x) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.manualModal :global(.ant-modal-close-icon) svg {
    fill: white;
}

.modalBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manualShipSetterContainer {
    display: flex;
}

.shipsBlockContainer {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 32px;
    width: max-content;
    gap: 12px;
    min-width: 250px;
}

.oneCellShips {
    position: relative;
    min-height: 34px;
}

.oneCellShips > div {
    position: absolute;
}

.twoCellShips {
    position: relative;
    min-height: 34px;
}

.twoCellShips > div {
    position: absolute;
}

.threeCellShips {
    position: relative;
    min-height: 34px;
}

.threeCellShips > div {
    position: absolute;
}

.isVerticalTwo {
    height: 64px;
}

.isVerticalThree {
    height: 94px;
}

.isVerticalFour {
    height: 126px;
}

.isMouseDown {
    cursor: pointer;
}

.buttonContainer {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.buttonContainer > button {
    padding: 4px 8px !important;
}

.rightBtnsBlock {
    display: flex;
    gap: 8px;
}

.clearButton {
    margin-left: 20px;
}

.movedShipOpacity {
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .manualShipSetterContainer {
        flex-direction: column;
    }

    .shipsBlockContainer {
        margin-top: 12px;
    }

    .clearButton {
        margin-left: 0;
    }

    .manualModal > div {
        top: 0 !important;
    }

    .manualModal :global(.ant-modal-body) {
        padding: 8px;
    }
}