.todayGameCountContainer {
    font-size: 18px;
    font-weight: 900;
    align-self: flex-start;
    margin-left: 12px;
    margin-bottom: 4px;
    white-space: nowrap;
    background-color: #303030;
    padding: 0 6px;
    border-radius: 7px;
    color: white;
    border: 2px solid;
    font-style: italic;
}

.countValue {
    color: #99a0ff;
}

@media screen and (max-width: 600px){
    .todayGameCountContainer {
        align-self: center;
        margin-left: 0;
    }
}
