.timerContainer {
    position: fixed;
    right: 0;
    top: 32px;
    padding: 0 16px;
    background-color: rgba(0,0,0, 0.5);
}

.timerContainer > div {
    font-size: 32px;
}

.timer {
    font-size: 20px;
    color: red;
}