.btnContainer {
    margin-top: 8px;
}

.btnContainer .startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nowStatsTags {
    display: flex;
    align-self: flex-start;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.nowStatsTags > div {
    margin-left: 0;
    margin-bottom: 0;
}

.winText {
    color: #0dc20d;
    font-size: 30px;
}

.looseText {
    color: red;
    font-size: 30px;
}
