.table {
    max-width: 100%;
}

.table :global(.ant-table-cell) {
    padding: 2px 4px !important;
    font-size: 16px;
    font-weight: 900;
}

.table :global(.ant-table.ant-table-bordered), .table :global(.ant-table.ant-table-bordered .ant-table-cell.ant-table-column-sort)  {
    background-color: #adadad;
}
.table :global(.ant-table-thead .ant-table-cell) {
    background-color: #868686;
}
.table :global(.ant-table-tbody > tr.ant-table-row:hover > td) {
    background: unset;
}

