.profileModal {
    box-shadow: 0px 0px 18px 8px #6e6e6e;
    padding: 0px;
    border-radius: 14px;
}

.profileModal :global(.ant-modal-header) {
    background: transparent;
}
.profileModal :global(.ant-modal-title) {
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
}

.profileModal :global(.ant-modal-content) {
    padding-top: 8px;
    background-size: 100% 100%;;
    background-image: url("./../../core/assets/images/profileModalBackground.webp");
}

.profileModal :global(.ant-modal-footer .ant-btn-primary) {
    display: none;
}
