.replayFieldsContainer {
    display: flex;
    gap: 12px;
}

.replayField {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fieldHeaderReplay {
    width: calc(100% - 30px);
}

.fieldHeaderReplay > div:first-child {
    font-size: 16px !important;
}

.mobileShipsInfo {
    background-color: rgba(0,0,0,0.5);
    border-radius: 7px;
}

@media screen and (max-width: 600px) {
    .replayFieldsContainer {
    }
}