.btnContainer {
    margin-top: 8px;
}

.btnContainer .startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    max-height: none !important;
}

.manualModal :global(.ant-modal-footer) {
    display: none;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.nameInput {
    margin-left: 40px;
    width: calc(100% - 40px) !important;
}

.inputLabel {
    font-size: 20px;
    margin-left: 40px;
    position: absolute;
    top: -40px;
}

.inputBtnCont {
    display: flex;
}

.nowStatsTags {
    display: flex;
    align-self: flex-start;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.nowStatsTags > div {
    margin-left: 0;
    margin-bottom: 0;
}

.startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px){
    .manualModal > div {
        top: 0 !important;
    }
}
