.enemyInfoBlockContainer {
    position: fixed;
    right: 0;
    top: 88px;
    padding: 8px;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
}

.enemyInfoBlockContainer > span {
    width: max-content;
}

.enemyName {
    color: white;
}

.title {
    color: red;
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .enemyInfoBlockContainer {
        font-size: 12px;
    }
    .title {
        color: red;
        font-size: 15px;
    }
}