.fieldContainer {
    display: flex;
    position: relative;
    padding-left: 30px;
    flex-direction: column;
}

.field {
    position: relative;
    padding-left: 30px;
}

.leftColumn {
    position: absolute;
    top: 0;
    left: -30px;
}

.fieldBodyLoading {
    background-color: rgba(189, 189, 189, 0.7) !important;
    pointer-events: none;
    cursor: wait !important;
}

.fieldBackground {
    background-color: rgba(255,255,255, 0.7);
}

.cursor {
    position: absolute;
    width: 24px;
    height: 24px;
    transform: translate(-12px, -12px);
    background-image: url("./../../core/assets/icons/crosshair-svgrepo-com.svg");
    background-size: 100% 100%;
    z-index: 99999;
    fill: red;
    display: none;
}

.fieldContainer .replaceShipBtn {
    width: 100%;
    display: block !important;
    font-size: 15px;
    font-weight: 600;
}

.fieldContainer .replaceShipBtn, .fieldContainer .replaceShipBtn:active, .fieldContainer .replaceShipBtn:focus {
    margin-top: 6px;
    background-color: black;
    border: none;
    color: white;
}

.fieldContainer .replaceShipBtn:hover {
    background-color: #3d3d3d;
    color: white;
}

.mobileStartGame {
    position: fixed;
    top: -10px;
    left: 0;
    zoom: 0.7;
}

.mobileStartGameMargin {
    margin-top: 234px;
}

@media screen and (max-width: 1215px) {
    .fieldsContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .fieldsContainer {
        gap: 8px;
        transform: translateX(-10px);
    }
    .playerInfoBlock {
        margin-top: 8px;
        order: 4;
    }
    .manualModal > div {
        top: 0 !important;
    }
    .manualModal :global(.ant-modal-body) {
        padding: 8px;
    }
}
