.authContainer {
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authTitle {

}

.commonBtns {
    margin-top: 10px;
}

.loginBtn {
    width: 100%
}

.additionalBtns {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authBlock {
    display: flex;
    flex-direction: column;
}

.loginInput {
    margin-bottom: 10px;
}

.vkLogo {
    height: 32px;
    width: 32px;
    padding: 0;
    background-color: transparent;
    background-image: url(../../core/assets/images/vkLogoPng.png);
    background-size: 100% 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}