.fieldHeader {
    width: 100%;
    display: flex;
    padding: 2px 8px;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 20px;
    align-self: self-start;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 28px;
}

.shipBlock {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 4px;
}
.shipLine {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    zoom: 0.4;
}
.greenColorBackground {
    background-color: rgb(38 169 42 / 80%);
}

.redColorBackground {
    background-color: rgb(145 2 2 / 60%);
}