.textBlockContainer {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    align-self: flex-start;
    margin-bottom: 4px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    background-color: #303030;
    padding: 0 6px;
    border-radius: 7px;
    color: white;
    border: 2px solid;
    width: max-content;
}

.value {
    color: #99a0ff;
    margin-left: 8px;
    font-weight: 900;
    font-style: normal;
}
