.todayGameCountContainer {
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    align-self: flex-start;
    margin-left: 12px;
    margin-bottom: 4px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    background-color: #303030;
    padding: 0 6px;
    border-radius: 7px;
    color: white;
    border: 2px solid;
    justify-content: space-between;
}

.countValue {
    color: #99a0ff;
    margin-left: 4px;
}

.skeleton {
    display: flex;
    margin-left: 4px;
}

.skeleton :global(.ant-skeleton-paragraph) {
    margin-bottom: 0;
}

.skeleton :global(.ant-skeleton-paragraph) li {
    height: 22px !important;
}

@media screen and (max-width: 600px){
    .todayGameCountContainer {
        align-self: center;
        margin-left: 0;
    }
}
