.replaysContainer {
    display: flex;
    flex-direction: column;
}

.tableTitle {
    font-weight: 900;
    margin-bottom: 0;
}

.tableReplays {
    max-width: 100%;
}

.tableReplays :global(.ant-table) {
    background-color: #adadad;
}

.tableReplays :global(.ant-table-cell) {
    padding: 2px 4px !important;
    font-size: 16px;
    font-weight: 900;
}

.tableReplays :global(.ant-table.ant-table-bordered), .tableReplays :global(.ant-table.ant-table-bordered .ant-table-cell.ant-table-column-sort)  {
    background-color: #adadad;
}
.tableReplays :global(.ant-table-thead .ant-table-cell) {
    background-color: #868686;
}
.tableReplays :global(.ant-table-tbody > tr.ant-table-row:hover > td) {
    background: unset;
}

.playRecordBtn {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
}