.shipContainer {
    display: flex;
    justify-content: flex-end;
}

.ship {
    display: flex;
}

.killedCount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
}

.iconExplosive {
    width: 35px;
    height: 35px;
    margin-top: -10px;
}

.count {
    margin-left: 5px;
}