.simulateGameCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldsCont {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding-top: 10%;
}

.startBtn {
    width: 200px;
    margin-top: 12px;
}

.winText {
    color: green;
    font-size: 30px;
}

.radioContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.radioBtns {
    display: flex !important;
    justify-content: space-between;
    width: 300px;
}

@media screen and (max-width: 724px) {
    .fieldsCont {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
}