.container {
    display: flex;
}

.manualShip {
    display: flex;
    cursor: pointer;
    user-select: none;
}

.isVertical {
    flex-direction: column;
}

.isHorisontal {
    flex-direction: row;
}

.movedShip {
    position: fixed;
    cursor: pointer;
}

.movedShipTouch {
    position: fixed;
    cursor: pointer;
    z-index: 5;
}

.rotateIcon {
    align-self: flex-end;
    margin-left: 2px;
    cursor: pointer;
    transition: transform 0.2s;
}

.rotateIcon:hover {
    transform: scale(1.2);
}