.chatResultsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    overflow: hidden;
}

.chatResultsContainer .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.chatResultsUsers {
    width: 100%;
    display: flex;
    border: 2px solid #525252;
    background-color: rgb(68 68 68 / 30%);
    overflow: auto;
    margin: 8px 0;
    border-radius: 8px;
    box-sizing: border-box;
    scrollbar-width: 16px;
    scrollbar-color: rgba(0, 0, 0, .05) rgba(255, 255, 255, .7);
}
.chatResultsUsers > :global(.ant-spin-container) {
    width: 100%;
    display: flex;
    padding: 12px 4px 4px 4px;
    box-sizing: border-box;
}

.chatResultsUsers::-webkit-scrollbar {
    width: 16px;
}
.chatResultsUsers::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .05);
    border-radius: 4px;
}
.chatResultsUsers::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .15);
    border-radius: 4px;
    border: 0 solid  rgba(0, 0, 0, .05);
    background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, .15) 0%,
            rgba(255, 255, 255, .7) 90%
    );
}

.userItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
}

.userItemContainer .name {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    color: #f1ff29;
}
.userItemContainer .score {
    font-weight: 900;
    font-size: 20px;
    line-height: 12px;
}
.userItemContainer .anonimeAvatar {
    background-color: white;
    border-radius: 50%;
}

.userItemContainer :global(:where(.css-dev-only-do-not-override-sk7ap8).ant-badge .ant-badge-count) {
    line-height: 22px;
    font-size: 16px;
}

.segmentedContainer {
    padding: 0;
    background-color: #aeaeae;
}
.segmentedContainer :global(.ant-segmented-item-label) {
    min-height: 28px !important;
    line-height: 28px !important;
}

.noResults {
    font-size: 20px;
    font-weight: 600;
    margin-left: 100px
}
