.fieldsContainer {
    display: flex;
    gap: 20px;
    max-width: 100%;
}

.manualModal :global(.ant-modal-footer) {
    display: none;
}

@media screen and (max-width: 1215px) {
    .fieldsContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .fieldsContainer {
        gap: 8px;
        transform: translateX(-10px);
    }
    .playerInfoBlock {
        margin-top: 8px;
        order: 4;
    }
    .manualModal > div {
        top: 0 !important;
    }
    .manualModal :global(.ant-modal-body) {
        padding: 8px;
    }
}