.btnStyles {
    display: flex;
    gap: 8px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.logoStyles {
    height: 100%;
}

.logoStyles > g > path {
    fill: white;
    transition: fill 0.3s;
}

.text {
    display: flex;
    flex-direction: column;
    color: white;
    transition: color 0.3s;
}

.text > span:nth-child(1) {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
}

.text > span:nth-child(2) {
    font-size: 16px;
    line-height: 16px;
}

.btnStyles:hover > .text {
    color: #dfe7fa;
}

.btnStyles:hover > .logoStyles > g > path {
    fill: #dfe7fa;
}