.mobileApps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
}

.mobileAppsTitle {
    font-size: 24px;
    text-align: center;
}

.mobileAppsContent {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.mobileAppsBtns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}