.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.replayData {
    font-size: 24px;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 8px;
    border-radius: 6px;
    color: white;
    align-self: flex-start;
}

.replayDuration {
    font-size: 24px;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 8px;
    border-radius: 6px;
    color: white;
    align-self: flex-start;
}

.replayDurationValue {
    color: #ff9f00;
}

@media screen and (max-width: 600px) {
    .pageContainer {
        gap: 8px;
    }
    .replayDuration, .replayData {
        font-size: 20px;
    }
}