.appContainer {
    width: 100%;
    min-height: calc(100vh - 20px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.nowStatsTags {
    display: flex;
    align-self: flex-start;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.nowStatsTags > div {
    margin-left: 0;
    margin-bottom: 0;
}

.btnContainer {
    margin-top: 8px;
    display: flex;
    gap: 12px;
}

.btnContainer .favoriteBtn {
    display: flex;
    align-items: center;
    padding: 8px;
}

.btnContainer .startBtn {
    display: flex;
    align-items: center;
}
.btnContainer .startBtn svg {
    width: 19px;
    height: 19px;
}

.tourMainContentContainer {
    max-width: 100vw !important;
}

.tourMainContentContainer :global(.ant-tour-header) {
    padding: 4px 16px !important;
}
.tourMainContentContainer :global(.ant-tour-header .ant-tour-title) {
    font-size: 18px !important;
}

.tourMainContentContainer :global(.ant-tour-close) {
    top: 4px !important;
    right: 4px !important;
}

@media screen and (max-width: 1215px) {
    .appContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .appContainer {
        padding-top: 4px;
    }
}

