.resultModalContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    animation: openModalResultContainer 1s;
}

.resultModalBody {
    max-width: 800px;
    max-height: 670px;
    width: 90vw;
    height: auto;
    box-shadow: 0px 0px 23px 16px #858585;
    border-radius: 8px;
    position: fixed;
    background-image: url("./../../core/assets/images/profileModalBackground.webp");
    background-size: 100% 100%;
    padding: 8px;
    animation: openModalResult 0.5s;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.resultModalContentFieldHeader {
    margin-bottom: 8px;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
}

.resultModalFooter {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.fieldsContainer {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;
}

.statisticsBlock {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
    margin-bottom: 12px;
    justify-content: center;
}

.winText {
    color: #0dc20d;
    font-size: 30px;
}

.looseText {
    color: red;
    font-size: 30px;
}

.showRecordBtn {
    float: right;
}

.playerColor {
    background-color: green !important;
}

.enemyColor {
    background-color: rgb(192 1 1) !important;
}

.timeoutMessage {
    color: white;
    font-size: 18px;
}

@keyframes openModalResultContainer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes openModalResult {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
